.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out; }
  .menu-btn .btn-line1 {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #444;
    transition: all 0.5s ease-in-out; }
  .menu-btn .btn-line2 {
    width: 20px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #444;
    transition: all 0.5s ease-in-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line1:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line1:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }
    .menu-btn.close .btn-line2 {
      opacity: 0; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #bdc7b7;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-in-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-in-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #52796f; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-in-out; }
    .menu .nav-link:hover {
      color: #52796f; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #cad2c5;
  color: #444;
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400; }
  body#bg-img {
    background: url(../img/project_background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(202, 210, 197, 0.8); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 4rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(207, 214, 203, 0.5);
    font-size: 2rem; }

a {
  color: #444;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #52796f; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.3rem; }
      main .icons a:hover {
        color: #52796f;
        transition: all 0.5s ease-in-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio box' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 100%;
    border-radius: 6px;
    border: #fff 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .box {
    grid-area: box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .about-info .box div {
      font-size: 2rem;
      background: #d7ddd3;
      padding: 1.5rem 2rem;
      margin-bottom: 2rem;
      border-radius: 6px;
      transition: all 0.5s ease-in-out; }
      .about-info .box div:hover {
        padding: 0.5rem 1.5rem;
        background: #52796f;
        color: #fff; }
        .about-info .box div:hover span {
          color: #fff; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    font-size: 1.5rem;
    background: #d7ddd3;
    padding: 0.5rem;
    border-bottom: #52796f 5px solid;
    border-radius: 6px; }

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.pimg1 {
  background-image: url("../img/computer.jpeg");
  min-height: 400px; }

.pimg2 {
  background-image: url("../img/code.png");
  min-height: 400px;
  max-height: 400px; }

.pimg3 {
  background-image: url("../img/background.jpg");
  min-height: 400px; }

.section {
  text-align: center;
  padding: 50px 80px; }

.section-light {
  background-color: #cad2c5; }

.section-dark {
  background-color: rgba(150, 165, 140, 0.7); }

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase; }

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px; }

.ptext .border.trans {
  background-color: transparent; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #b0bca8;
  color: #000;
  height: 60px; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'box' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main main#home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; } }
